numpy== 2.3.0,
scipy>= 1.13.0,
grid2op==1.12.1,
LightSim2Grid==0.10.3,
pandas==2.3.3,
networkx==3.5,
pypowsybl== 1.13.0, # Make sure you have the correct package name and version specifier if needed
pypowsybl2grid==0.3.0,
expertop4grid==0.2.8, # Your original dependency check
matplotlib==3.10.7,